nav {
  height: 120px;
  width: 100vw;
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 24px;
  font-family: source;
  font-family: 'Source Sans Pro', Fallback, sans-serif;
  align-items: flex-end;
  padding-top: 1.5em;
  
}

#logo {
  
  font-family: source;
  font-family: 'Bungee', Fallback, sans-serif;
  margin-left: 1.5em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fas {
  size: 1em;
  color:red;
}

.nav-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  margin-right: 1.5em;
  align-items: center;
}
